.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.downloadbtn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: #ffffffed;
  display: flex
;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.p-datatable-wrapper table {
  border-collapse: collapse;
}

.p-dropdown {
  @apply border shadow-lg
}

.p-datatable-wrapper table, .p-datatable-wrapper th, .p-datatable-wrapper td {
  border: 1px solid rgb(211, 209, 209);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.admin-navlink.active li>button {
  background: linear-gradient(33deg, #383838, black);
  color: white;
  box-shadow: 0 0 3px #383838;
}

main {
  overflow-x: hidden;
}

.dialog-box::-webkit-scrollbar {
  display: none;
}

/* .dialog-head>svg {
  display: none;
} */

li[data-sidebar="menu-item"]:has(.admin-navlink.active)>button {
  background: linear-gradient(33deg, #383838, black);
  color: white;
  box-shadow: 0 0 3px #383838;
}

.dash-card {
  @apply relative
}

.dash-card .more-info {
  border-radius: 0 20px 0 20px;
}

.dash-card:hover {
  @apply scale-[1.01] transition-all transition-[0.5s]
}

label {
  @apply text-lightdark md:text-lg text-sm inline-block mb-2
}

input, select {
  @apply w-full border p-2 md:text-[15px] text-sm rounded-md outline-none
}

.file-upload input {
  @apply p-[5px]
}

.form-group .form-check {
  @apply flex items-center gap-1 border py-1 px-5 rounded
}

.form-group .form-check label {
  @apply m-0 text-lg text-nowrap
}

input[type="checkbox"]:checked {
  color: black;
}

/* FORM SUBMIT LOADER */

.loader1 {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  transform: rotate(45deg);
}

.loader1::before {
  content: '';
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: -24px;
  animation: animloader 4s ease infinite;
}

.loader1::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  animation: animloader2 2s ease infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }

  12% {
    box-shadow: 0 24px white, 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }

  25% {
    box-shadow: 0 24px white, 24px 24px white, 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }

  37% {
    box-shadow: 0 24px white, 24px 24px white, 24px 48px white, 0px 48px rgba(255, 255, 255, 0);
  }

  50% {
    box-shadow: 0 24px white, 24px 24px white, 24px 48px white, 0px 48px white;
  }

  62% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px white, 24px 48px white, 0px 48px white;
  }

  75% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px white, 0px 48px white;
  }

  87% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px white;
  }

  100% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }
}

@keyframes animloader2 {
  0% {
    transform: translate(0, 0) rotateX(0) rotateY(0);
  }

  25% {
    transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }

  50% {
    transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
  }

  75% {
    transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }

  100% {
    transform: translate(0, 0) rotateX(0) rotateY(360deg);
  }
}

.p-datatable-table th,
.p-datatable-table td {
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
}