
.admin-navlink.active li>button {
  background: linear-gradient(33deg, #383838, black);
  color: white;
  box-shadow: 0 0 3px #383838;
}

li[data-sidebar="menu-item"]:has(.admin-navlink.active)>button {
  background: linear-gradient(33deg, #383838, black);
  color: white;
  box-shadow: 0 0 3px #383838;
}

.dash-card{
  @apply relative
}

.dash-card .more-info{
  border-radius: 0 20px 0 20px;
}

.dash-card:hover{
  @apply scale-[1.01] transition-all transition-[0.5s]
}

label{
  @apply text-lightdark md:text-lg text-sm inline-block mb-2
}

input{
  @apply w-full border p-2 md:text-[15px] text-sm rounded-md outline-none
}


